body
{
	margin: 0px;
	padding: 5px;
	display: grid;
	grid-template-columns: 600px 300px auto;
	grid-gap: 10px;
	background-color: pink;
	font-family: sans-serif;
}
#container
{
	display: grid;
	grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
	width: 600px;
	height: 600px;
	grid-column: 1 /1;
	outline-style: solid;
	outline-color: black;
	outline-width: 4px;
	background-color: pink;
}
.point
{
	width: 28px;
	height: 28px;
	border-radius: 15px;
	background-color: lightblue;
	border-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	color: Darkblue;
	font-weight: bold;
	font-size: 20px;
	border-width: 1px;
	border-style: solid;
	outline-style: solid;
	outline-color: black;
	outline-width: 0px;
}
#header
{
	height: 91px;
	background-color: orange;
	outline-style: solid;
	outline-color: black;
	outline-width: 4px;
	grid-column: 1 / 4;
	min-width: 500px;
}
#board
{
	display: grid;
	grid-template-rows: 115px auto;
}
#content
{
	background-color: lightgreen;
	outline-style: solid;
	outline-color: black;
	outline-width: 4px;
}
#content > ul > li
{
	background-color: lightgreen;
	outline-style: solid;
	outline-color: black;
	outline-width: 4px;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 4px;
	height: 40px;
	display: flex;
	align-items: center;
}
#options
{
	background-color: lightgreen;
	outline-style: solid;
	outline-color: black;
	outline-width: 4px;
	margin-bottom: 10px;
}
#algorithm
{
	padding: 5px;
	background-color: orange;
	outline-style: solid;
	outline-color: black;
	outline-width: 4px;
	min-width: 200px;
}
#algorithm > #BFS > #queue
{
	background-color: lightyellow;
	height: 66px;
	outline-style: solid;
	outline-color: black;
	outline-width: 4px;
	font-size: 20px;
	font-weight: bold;
}
#algorithm > #BFS > #queue > p
{
	margin: 0px;
	height: 25px;
}
#algorithm > #BFS > #queue > ul
{
	background-color: lightgreen;
	outline-style: solid;
	outline-color: black;
	outline-width: 4px;
	height: 40px;
}
#algorithm > #BFS > #queue > ul > li
{
	background-color: red;
	outline-style: solid;
	outline-color: black;
	outline-width: 4px;
	width: 40px;
	height: 40px;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}	
#bfscode
{
	background-color: orange;
	margin-top: 10px;
}
#bfscode > li
{
	margin-top: 5px;
	padding: 5px;
	font-size: 20px;
	font-style: italic;
	outline-style: solid;
	outline-color: black;
	outline-width: 4px;
}
#newgraph
{
	display: none;
	position:absolute;
	color: Blue;
	background-color: grey;
	z-index: 3;
	height: 100vh;
	width: 100vw;
	font-size: 30px;
	text-align: center;
}
#newgraph #box
{
	height: 100px;
	width: 600px;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	background-color: pink;
	position: absolute;
	margin-left: 30vw;
	margin-top: 40vh;
	padding: 10px;
}
#newgraph input
{
	border-width: 3px;
	border-style: solid;
	border-color: black;
	height: 30px;
}
#newgraph input[type="submit"]
{
	margin-top: 20px;
	border-width:2px;
	border-style: solid;
	border-color: black;
	background-color: lightblue;
	font-size: 20px;
	text-align: center;
	height: 40px;
	width: 100px;
}
#newgraph button
{
	border-width:2px;
	float: left;
	border-style: solid;
	border-color: black;
	background-color: lightblue;
	font-size: 20px;
	text-align: center;
	height: 40px;
	width: 100px;
}
#lines
{
	position: absolute;
}
#lines > div
{
	position: absolute;
	background-color: black;
	border-color: black;
}
ul
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#headings
{
	position: absolute;
	padding: 5px;
	display: inline;
}
#headings > li
{
	background-color: violet;
	outline-style: solid;
	font-size: 27px;
	outline-color: black;
	outline-width: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
	width: 160px;
	text-align: center;
	float: left;
}
#headings > #load
{
	background-color: violet;
	display: block;
	float: left;
	width: 160px;
}
#headings > #load > ul
{
	display: none;
	z-index: 2;
	position: absolute;
}
#headings > #load > #loadgraph
{
	height: 80px;
	width: 160px;
	display: flex;
	align-items:center;
	text-align: center;
	justify-content: center;
	outline-style: solid;
	font-size: 27px;
	outline-color: black;
	outline-width: 4px;
}
#headings > #load > ul > li
{
	background-color: violet;
	height: 40px;
	width: 160px;
	display: flex;
	align-items:center;
	text-align: center;
	justify-content: center;
	outline-style: solid;
	font-size: 27px;
	outline-color: black;
	outline-width: 4px;
	margin-bottom: 4px;
}
#editgraph > label
{
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#editgraph > label:hover
{
	cursor: pointer;
}
.point:hover
{
	background-color: green;
	cursor: pointer;
	transform: scale(1.1);
}
#options > ul > li
{
	font-size: 25px;
	height: 50px;
	background-color: tomato;
	margin-bottom: 4px;
}
#options > ul > li > label
{
	display: flex;
	height: 50px;
	justify-content: center;
	align-items: center;
	outline-style: solid;
	outline-color: black;
	outline-width: 4px;
}	
input
{
	opacity: 1;
}
#options > ul > li > label:hover
{
	background-color: red;
	transform: scale(1.05);
	cursor: pointer;
}
#headings li:hover
{
	background-color: darkviolet;
	cursor: pointer;
	transform: scale(1.05);
}
#headings #load #loadgraph:hover
{
	background-color: darkviolet;
}
#headings #load ul li:hover
{
	background-color: darkviolet;
}
#lines div:hover
{
	background-color: green;
	border-color: green;
	transform: scale(2);
	cursor: pointer;
}
